#headshot
{
	position: fixed;
	top:80px;
	left:200px;
	overflow-x: auto;
	z-index: -1;
}
#AboutMe
{
	position: fixed;
	overflow-x: auto;
	top:80px;
	left:455px;
	width: 400px;
	height: 250px;
	background-color:#e3e3e3;	
	z-index: -1;



}
#AboutMeContent
{
	position: fixed;
	font-family: 'Quicksand', serif;
	color: grey;
	position: fixed;
	top:80px;
	left:470px;
	color:grey;
	min-width: 300px;
	max-width: 300px;
	background-color:#e3e3e3;	

}